body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

background {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00bfff; /* Light blue hover effect */
}
.content {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.container {
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p, ul {
    line-height: 1.6;
    color: #555;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

hr {
    margin: 40px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

section {
    margin-bottom: 20px;
}
